<html class="no-js" manifest="example.appcache">
    <head>
        <meta charset="UTF-8">
        <title>Offline Client Example</title>
        <script src="https://www.google-analytics.com/analytics.js"></script>
        <link rel="stylesheet" href="../bower_components/offline/themes/offline-theme-default.css">
        <link rel="stylesheet" href="../bower_components/offline/themes/offline-language-english.css">
        <link rel="stylesheet" href="../bower_components/offline/themes/offline-language-english-indicator.css">
    </head>
    <body>
        <h1>Offline example <small>AngularJS</small></h1>
    </body>
</html>