<!DOCTYPE html>
<html lang="es" ng-app="classProjectApp">
    <head>
        <meta charset="UTF-8">
        <title>DSHttpAdapter Example</title>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-cache/dist/angular-cache.js"></script>
        <script src="/bower_components/js-data/dist/js-data.js"></script>
        <script src="/bower_components/js-data-angular/dist/js-data-angular.js"></script>
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="../scripts/controllers/DSHttpAdapter.js"></script>
    </head>
    <body>
        <h1>DSHttpAdapter example <small>AngularJS</small></h1>
        <form ng-controller="DSHttpAdapterCtrl as DSHttpAdapterCtrl"></form>
    </body>
</html>