<!DOCTYPE html>
<html lang="es" ng-app="classProjectApp">
    <head>
        <meta charset="UTF-8">
        <title>Caching Example</title>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-cache/dist/angular-cache.js"></script>
        <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="../scripts/controllers/retrieve.js"></script>
    </head>
    <body>
        <h1>Caching example <small>AngularJS</small></h1>
        <form ng-controller="RetrCtrl as RetrCtrl"></form>
    </body>
</html>